<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="/back-office/static/css/back_office.css" rel="stylesheet">
  <title>{% block title %}Back-office Goldenline Marketing Dashboard{% endblock %}</title>
</head>
<body>
  <div class="container text-center">
    <img src="/back-office/static/img/logo_bo.png" alt="Logo back-office" class="logo mb-4">
    {% block content %}{% endblock %}
  </div>

  <script src="/back-office/static/js/back_office.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
