{% extends "base.html" %}

{% block content %}
  <h1>Mise en production</h1>
  <h3>Vérification des comptes</h2>
  <p class="lead">La mise production du projet est effective à compter du moment où au minimum un aministrateur back-office et un utilisateur du service Marketing sont créés.</p>
  {% if error %}
    <div class="alert alert-danger" role="alert">
        {% for message in error %}
            {% if loop.first %}
                <p class="first">{{ message }}</p>
            {% elif loop.index == 2 %}
                <p class="second">{{ message }}</p><ul>
            {% elif loop.last %}
                <li class="last"><a href="https://github.com/Christophe-Aballea/goldenline/blob/main/templates/help/db_connection.md" target="_blank">Résoudre les problèmes de connexion <i class="fas fa-external-link-alt"></i></a></li>
            {% else %}
                <li class="other">{{ message }}</li>
            {% endif %}
        {% endfor %}
        </ul>       
    </div>
  {% endif %}
  <table>
    <thead>
      <tr>
        <th>Rôle</th>
        <th>Comptes</th>
      </tr>
    </thead>
    <tbody>
        {% for role, accounts in accounts.items() %}
        <tr>
            <td>{{ role }}</td>
            <td>
                <ul>
                {% for account in accounts %}
                    <li>{{ account }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <div class="actions">
    <form action="/back-office/verify-accounts" method="post">
        <div class="form-group">
        <div class="form-group action-buttons">
            <button type="submit" class="btn btn-primary">Suivant ></button>
        </div>
    </form>
  </div>
{% endblock %}
