/* Feuille de style pour error.html */
.logo {
    max-width: 200px;
  }
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.actions {
    text-align: left;
  }
.actions p {
    margin-bottom: 0;
  }
  